@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: #000000;
}
 
/*Logo*/

.site-header {
  text-align: center;
  margin-top: 2rem;
}

.logo {
  width: 16rem;
  display: block;
  margin: 0 auto;
}

/*main*/

.checkout-wrapper {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;

}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 2;
  max-width: 650px;
}

.checkout-box {
  background-color: #ECE5DE;
  border-radius: 10px;
  padding: 2.5rem;
}

.delivery-box {
  min-height: 530px;
}

.order-summary-box {
  flex: 1;
  max-width: 350px;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  color: #004b4b;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  width: 100%;
  padding: 0.85rem;
  margin-bottom: 1rem;
  border: 2px solid #BDB1AA;
  border-radius: 15px;
  font-size: 1rem;
}

.input-row {
  display: flex;
  gap: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 1rem;
}


.order-summary p {
  display: flex;
  justify-content: space-between;
  margin: 0.90rem 0;
  font-size: 1.20rem;
}

.order-summary .small-text {
  font-size: 1rem;
  color: #000000;
}

.order-summary hr {
  margin: 1rem 0;
}

.product {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.product img {
  width: 14rem;
  border-radius: 6px;
}

.product-title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: bold;



}

/*payment box and button*/

.payment-box hr {
  border: none;
  border-top: 1px solid #a8a8a8;
  margin: 1rem 0;
}

.pay-btn {
  display: block;
  width: 100%;
  background-color: #5CABC3;
  color: #ffffff;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  padding: 0.85rem;
  margin-top: 0.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 900px) {
  .checkout-container {
    flex-direction: column;
    align-items: center;
  }

  .left-column,
  .order-summary-box {
    max-width: 100%;
  }

  .checkout-title {
    text-align: center;
  }
}
